In [7]:
import numpy as np
import pandas as pd

df = pd.read_csv(r'C:\Users\hanstan\Desktop\508977\all\mer\ALL.csv', dtype=object)
df.head(3)

,Job #,Trans,Opened,Job Brn,Job Dep,Job Stat,Local Client,Type,Charge,Recognized,Line Br,Line Dep,AR / AP Organization,Invoice Number,Revenue,WIP,Cost,Accrual,Job Profit,AR / AP Organization Name
0,B200610306,AIR,2022-04-26 07:58:00,SHA,FEA,WHL,EASCARSHA,ACR,SLSDISC,2022-12-31 23:59:00,DLC,FES,JASDECOR,NaN,0,0,0,-476214.64,-476214.64,JAS FORWARDING GMBH - CORPORATE
1,B200610306,AIR,2022-04-26 07:58:00,SHA,FEA,WHL,EASCARSHA,ACR,SLSDISC,2022-12-31 23:59:00,SHA,FES,JASCZPRG,NaN,0,0,0,-141565.27,-141565.27,JAS FORWARDING (CZECH) S.R.O.
2,B200610306,AIR,2022-04-26 07:58:00,SHA,FEA,WHL,EASCARSHA,ACR,SLSDISC,2022-12-31 23:59:00,NGB,FEL,JASCZPRG,NaN,0,0,0,-98712.69,-98712.69,JAS FORWARDING (CZECH) S.R.O.

In [8]:
df["Revenue"] = df["Revenue"].astype(float)
df["WIP"] = df["WIP"].astype(float)
df["Cost"] = df["Cost"].astype(float)
df["Accrual"] = df["Accrual"].astype(float)

In [9]:
df["month"] = df["Recognized"].str.split("-").str[1]
df.head(2)

,Job #,Trans,Opened,Job Brn,Job Dep,Job Stat,Local Client,Type,Charge,Recognized,...,Line Dep,AR / AP Organization,Invoice Number,Revenue,WIP,Cost,Accrual,Job Profit,AR / AP Organization Name,month
0,B200610306,AIR,2022-04-26 07:58:00,SHA,FEA,WHL,EASCARSHA,ACR,SLSDISC,2022-12-31 23:59:00,...,FES,JASDECOR,NaN,0.0,0.0,0.0,-476214.64,-476214.64,JAS FORWARDING GMBH - CORPORATE,12
1,B200610306,AIR,2022-04-26 07:58:00,SHA,FEA,WHL,EASCARSHA,ACR,SLSDISC,2022-12-31 23:59:00,...,FES,JASCZPRG,NaN,0.0,0.0,0.0,-141565.27,-141565.27,JAS FORWARDING (CZECH) S.R.O.,12

In [3]:
t12 = df.loc[df["Recognized"].str.contains("2022-12")]
len(t12)

398266

In [6]:
# pivot
pt = pd.pivot_table(df, index=['month'], values=["Revenue", "WIP", "Cost", "Accrual"], aggfunc=np.sum)
pt.to_excel(r'C:\Users\hanstan\Desktop\508977\all\mer\pt1.xlsx', encoding="gbk")

In [13]:
df_corr1 = df_corr.loc[~df_corr["科目代码"].isna()]

In [12]:
df_corr["借方"] = df_corr["借方"].astype(float)
df_corr["贷方"] = df_corr["贷方"].astype(float)

C:\Users\hanstan\AppData\Local\Temp\ipykernel_21584\2402382567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corr["借方"] = df_corr["借方"].astype(float)
C:\Users\hanstan\AppData\Local\Temp\ipykernel_21584\2402382567.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_corr["贷方"] = df_corr["贷方"].astype(float)

In [ ]:
# 借贷标识,按本位币计的金额
df["Amount"] = df["Amount"].astype(float)
# df["ACCOUNTED_CR"] = df["ACCOUNTED_CR"].astype(float)
# df["a"] = df["ACCOUNTED_CR"] - df["ACCOUNTED_CR"]
# df.head(3)

In [ ]:
def row_handler(row):  # 方向
    if row['方向'] == '借':
        return row["按本位币计的金额"] * -1
    if row['方向'] == '贷':
        return row["按本位币计的金额"]

df['a'] = df.apply(row_handler, axis=1)
tmp = df["a"].sum()
print(tmp)

In [15]:
# pivot
pt = pd.pivot_table(df_corr1, index=['科目代码', "方向"], values=["借方", "贷方"], aggfunc=np.sum)
pt.to_excel(r'C:\Users\hanstan\Desktop\中铁十二局集团有限公司母公司-需帮忙合并配平\pt.xlsx', encoding="gbk")

In [1]:
print("\033[33myello\033[0m")

yello

In [ ]:
import numpy as np
import pandas as pd

df = pd.read_csv('C:\\Users\\hanstan\\Desktop\\422768\\pivot_last.csv')
df.head()

In [ ]:
new_df = df.fillna(0)
new_df.head(10)

In [ ]:
new_df.drop(df.index[[0]], inplace=True)

In [ ]:
new_df.head()

In [ ]:
new_df['sum'] = new_df['sum'].astype(float)

In [ ]:
new_df_sum = new_df['sum'].sum()
new_df_sum