In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\hanstan\Desktop\501826\MB\9.2022年1-9月序时账\mer\mbHandle10-12.csv", dtype=object)
df.head(3)

,费用类型,科目明细,Account,Assignment,Reference,Document Number,Document type,Functional Area,Vendor,Customer,...,Cost Center,WBS Element,Order,Text,Purchasing Document,Clearing Document,Negative Posting,Reversed With,Asset,Profit Center
0,负债类,应付暂估-手工预提,22010800,4500003580,NaN,100095691,X2,NaN,1000002011,NaN,...,NaN,NaN,NaN,NaN,NaN,100095691,X,100095690,NaN,R881R00881
1,资产类,预付账款-其他手工调整,14190008,4500003580,NaN,100095691,X2,NaN,1000002011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,X,100095690,NaN,R881R00881
2,负债类,应付暂估-手工预提,22010800,4500003681,NaN,100095691,X2,NaN,1000002330,NaN,...,NaN,NaN,NaN,NaN,NaN,100095691,X,100095690,NaN,R881R00881

In [7]:
df.head()

,费用类型,科目明细,Account,Assignment,Reference,Document Number,Document type,Functional Area,Vendor,Customer,...,Cost Center,WBS Element,Order,Text,Purchasing Document,Clearing Document,Negative Posting,Reversed With,Asset,Profit Center
0,负债类,应付暂估-手工预提,22010800,4500003580,NaN,100095691,X2,NaN,1000002011,NaN,...,NaN,NaN,NaN,NaN,NaN,100095691,X,100095690,NaN,R881R00881
1,资产类,预付账款-其他手工调整,14190008,4500003580,NaN,100095691,X2,NaN,1000002011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,X,100095690,NaN,R881R00881
2,负债类,应付暂估-手工预提,22010800,4500003681,NaN,100095691,X2,NaN,1000002330,NaN,...,NaN,NaN,NaN,NaN,NaN,100095691,X,100095690,NaN,R881R00881
3,资产类,预付账款-在建工程-手工调整,19110570,4500003681,NaN,100095691,X2,NaN,1000002330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,X,100095690,NaN,R881R00881
4,资产类,预付账款-其他手工调整,14190008,4500003681,NaN,100095691,X2,NaN,1000002330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,X,100095690,NaN,R881R00881

In [6]:
df[df["科目明细"].isin(["管理"])]

Empty DataFrame
Columns: [费用类型, 科目明细, Account, Assignment, Reference, Document Number, Document type, Functional Area, Vendor, Customer, Trading partner, Document Date, Posting Date, User Name, Posting Key, Amount in Doc. Curr., Document Currency, Amount in Local Currency, Local Currency, Valuated Amt in LC 3, CurrGroup, Reason Code, Cost Center, WBS Element, Order, Text, Purchasing Document, Clearing Document, Negative Posting, Reversed With, Asset, Profit Center]
Index: []

[0 rows x 32 columns]

In [ ]:
df_map = pd.read_excel(r"C:\Users\hanstan\Desktop\501826\1231数\sales_map.xlsx", dtype=object)
df_map.head(2)

In [ ]:
df_merge = pd.merge(df, df_map, left_on='Account', right_on='Account', how='left')
df_merge.head(3)

In [ ]:
del df_merge["费用类型_x"]
del df_merge["科目明细_x"]

In [ ]:
df_merge1 = pd.merge(df_merge, df_map, left_on='Cost Center', right_on='CC', how='left')
df_merge1.head(3)

In [ ]:
df_merge1.loc[~df_merge1["费用类型"].isnull()]

In [ ]:
manage = df_merge1.loc[df_merge1["费用类型"] == "管理费用"]  # 管理费用  销售费用
len(manage)

In [ ]:
df_merge.head(2)

In [ ]:
df_merge.to_csv(r"C:\Users\hanstan\Desktop\501826\MB\9.2022年1-9月序时账\mb1-9gl.csv", index=False, encoding="utf-8")

In [ ]:
mid = df_corr['科目明细']  # 取备采集时间的值
df_corr.pop('科目明细')  # 删除备采集时间
df_corr.insert(1, '科目明细', mid)  # 插入采集时间列
df_corr.head()